@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* Universal styles */

* {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #efefef;
}

header {
    background-color: #6991e3;
    /*background-image: linear-gradient(to right, #6991e3 , #261360);*/
    color: white;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    margin: 5px 10px;
}

h2 span {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
}

h2.forecast {
    padding: 10px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 15px;

}

p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
}

/* Form elements */

input {
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px #aeaeae solid;
}

button {
    width: 90%;
    background-color:#6991e3;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

button.results {
    width: 90%;
    background-color:#aeaeae;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

/* Container elements */

.left-container {
    width: 25%;
    height: 100%;
    padding: 10px;
}

.left-results-container {
    border-top: 1px #aeaeae solid;
    border-width: 90%;
}

.right-parent-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.right-top-child-container {
    display: flex;
    flex-direction: column;
    height:250px;
    border: 1px #aeaeae solid;
    border-radius: 5px;
    margin-top:10px;
    width: 95%;
    padding:10px;
    background-color: white;
}

.right-bottom-child-container {
    height: 250px;
    width: 95%;
}

.five-day-parent-container {
    display: flex;
    justify-content:space-between;
}

.five-day-child-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #6991e3;
    color: white;   
    width: 18%; 
    height: 220px;
    padding: 10px;
    border-radius: 5px;
}

/* Media queries */

@media screen and (max-width: 750px) {
   main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
    }
    
    .left-container {
        flex-direction: column;
        width: 100%;
    }

    .right-parent-container {
        flex-direction: column; 
        width: 100%;
    }

    .right-top-child-container {
        width: 100%;
    }

    .right-bottom-child-container {
        width: 100%;
    }
    
    .five-day-parent-container {
        flex-direction: column;
        width: 100%;
    }
    
    .five-day-child-container {
        width: 100%;
        margin: 10px 0;
    }
}