@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* Universal styles */

* {
    font-family: 'Montserrat', Arial, sans-serif;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #efefef;
}

header {
    background-color: #6991e3;
    /*background-image: linear-gradient(to right, #6991e3 , #1862F5);*/
    color: white;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 28px;
    margin: 5px 10px;
}

h2 span {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
}

h2.forecast {
    padding: 10px;
    font-weight: 800;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 5px;

}

p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 400;
}

.emoji {
    font-size: 56px;
    margin: 0;
}

/* Form elements */

input {
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px #aeaeae solid;
}

button {
    width: 90%;
    background-color:#6991e3;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#submit {
    font-weight: 600;
}

#submit:hover {
    /*background-color: #3377FF;*/
    box-shadow: 2.5px 2.5px 2.5px #aeaeae;
}

button.results {
    width: 90%;
    background-color:#aeaeae;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#rule {
    display: block;
    width: 90%;
    border: 1px solid #aeaeae; 
    border-radius: 5px;
    margin: 10px; 
}

/* Container elements */

.left-container {
    width: 25%;
    height: 100%;
    padding: 10px;
}

.left-results-container {
    border-width: 90%;
}

.right-parent-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.right-top-child-container {
    display: none;
    flex-direction: column;
    height:315px;
    border: 1px #aeaeae solid;
    border-radius: 5px;
    margin-top:10px;
    width: 95%;
    padding:10px;
    background-color: white;
}

.right-bottom-child-container {
    display: none;
    height: 250px;
    width: 95%;
}

.five-day-parent-container {
    display: flex;
    justify-content:space-between;
}

.five-day-child-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #6991e3;
    /*background-image: linear-gradient(to bottom, #6991e3 , #3377FF5);*/
    color: white;   
    width: 19%; 
    height: 275px;
    padding: 10px;
    border-radius: 5px;
}

/* Media queries */

@media screen and (max-width: 1300px) {
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 28px;
        line-height: 28px;
    }
    
    h2 span {
        font-size: 28px;
        line-height: 28px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 22px;    
    }
    
    p {
        font-size: 16px;
    }
    
    .emoji {
        font-size: 36px;
    }
 }

@media screen and (max-width: 900px) {
   main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
    }
    
    .left-container {
        flex-direction: column;
        width: 100%;
    }

    .right-parent-container {
        flex-direction: column; 
        width: 100%;
    }

    .right-top-child-container {
        width: 100%;
    }

    .right-bottom-child-container {
        width: 100%;
    }
    
    .five-day-parent-container {
        flex-direction: column;
        width: 100%;
    }
    
    .five-day-child-container {
        width: 100%;
        margin: 10px 0;
    }
    h1 {
        font-size: 36px;
        font-weight: 800;
    }
    
    h2 {
        font-size: 28px;
        font-weight: 800;
        line-height: 28px;
        margin: 5px 10px;
    }
    
    h2 span {
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
    }
    
    h2.forecast {
        padding: 10px;
        font-weight: 800;
    }
    
    h3 {
        font-size: 24px;
        font-weight: 700;
    }
    
    h4 {
        font-size: 22px;
        font-weight: 400;
        margin: 5px;
    
    }
    
    p {
        margin: 5px 0;
        font-size: 18px;
        font-weight: 400;
    }
    
    .emoji {
        font-size: 56px;
        margin: 0;
    }
}